.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-text {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}


/* Home Component CSS */
.home-btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.home-btn {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home-btn-primary {
  background-color: #007bff;
}

.home-btn-success {
  background-color: #28a745;
}

.home-btn-warning {
  background-color: #ffc107;
}

.home-btn-danger {
  background-color: #dc3545;
}

.home-btn:hover {
  filter: brightness(90%); /* Adjust brightness on hover */
}


