/* NavBar component styles */

.navbar {
    background-color: #e5eabc;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
  }
  
  .navbar-brand {
    font-size: 24px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .navbar-brand:hover {
    color: #007bff; /* Change color on hover */
  }
  
  .navbar-toggler {
    border: none;
  }
  
  .navbar-nav .nav-item {
    margin-right: 10px;
  }
  
  .btn {
    transition: all 0.3s ease-in-out;
  }
  
  .btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
  }
  
  .btn-outline-primary:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  .btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
  }
  
  .collapse.navbar-collapse {
    transition: all 0.3s ease-in-out;
  }
  
  